@using Capstone.Web.Models.ViewModels;
@model  AddActivityViewModel
@{
    ViewBag.Title = "AddActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add Activity for @Model.UserName</h2>
@using (Html.BeginForm("AddActivity", "Parent", new { childId = Model.Child_Id, userName = Model.UserName }, FormMethod.Post))
{
    <div class="child-info">
     
    <div class="inputSteps">
        @Html.Label("Steps", "Please enter the number of steps")
        @Html.TextBoxFor(m => m.Steps)
        <p id="stepsMessage"> </p>

        @Html.Label("Minutes", "Please enter the number of active minutes")
        @Html.TextBoxFor(m => m.Minutes)
        <p id="minutesMessage"> </p>

        <label for="Date">Select the date for this activity</label>
        <input data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="date" required />
        
        <div> @Html.ValidationMessage("futureDate")</div>

    </div>

    </div>

    <button> Submit </button>

}
