@using Capstone.Web.Models.ViewModels;
@model  AddActivityViewModel
@{
    ViewBag.Title = "AddActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Activity for @Model.UserName</h2>

@using (Html.BeginForm("AddActivity", "Parent", FormMethod.Post, new { childId = Model.Child_Id, userName = Model.UserName }))
    {
    <div class="child-info">

        <img class="mascot" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" />
        @Model.UserName
    </div>
    <div class="inputDate">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker();
});
        </script>
        <p>Date: <input type="text" id="datepicker"></p>

    </div>
    <div class="inputSteps">
        @Html.Label("Steps", "Please enter number of steps")
        @Html.TextBoxFor(m => m.Steps)

        @Html.Label("Minutes", "Please enter the number of active minutes")
        @Html.TextBoxFor(m => m.Minutes)
        
        @*<label>Please add the number of steps for @Model.First_Name </label>
        @Html.TextBoxFor(m => m.Seconds, new { @class = "inputSteps" })
        <script>
            $(".inputSteps").blur(function () { $("p").html("You have entered @Model.Seconds.  This will give your child ((@Model.Seconds/10)/60) minutes of play time on Hop To It") });
        </script>*@
    </div>

        @*<div class="inputCarrots">
            <label>Please add the number of active minutes for @Model.First_Name </label>
            @Html.TextBoxFor(m => m.Carrots, new { @class = "inputSteps" })
            <script>
                $(".inputCarrots").blur(function () { $("p").html("You have entered @Model.Carrots.  This will give your child @Model.Carrots carrots to purchase items in Hop To It") });
            </script>
        </div>*@

   
        <button> Submit </button>

}

