@using Capstone.Web.Models.ViewModels;
@model  AddActivityViewModel
@{
    ViewBag.Title = "AddActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Activity for @Model.UserName</h2>

@using (Html.BeginForm("AddActivity", "Parent", new { childId = Model.Child_Id, userName = Model.UserName }, FormMethod.Post))
{
    <div class="child-info">

        @*<img class="mascot" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" />*@
        @Model.UserName
    </div>
    @*<div class="inputDate">

                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                    <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#datepicker").datepicker();
        });
                </script>
                <p>Date: <input type="text" id="datepicker"></p>

            </div>*@

    <div class="inputSteps">
        @Html.Label("Steps", "Please enter the number of steps")
        @Html.TextBoxFor(m => m.Steps)

        @Html.Label("Minutes", "Please enter the number of active minutes")
        @Html.TextBoxFor(m => m.Minutes)

        @*Fix needed - This date functions, but needs a placeholder for the form to be user friendly*@
        <div id="inputDate">
            <label for="Date">Select the date for this activity</label>
            <input data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="date" max="todaysDate"/>


        </div>
    </div>

    <button> Submit </button>

}

