@model Capstone.Web.Models.ParentModel
@using Capstone.Web.Models

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Welcome to your Dashboard @Model.First_Name! </h2>

<body>
    <div class="container-div">

        @if (Model.Children == null)
        {
            <p>You have not added any children yet!</p>
        }
        else {

            foreach (ChildModel child in Model.Children)
            {
                <div id="childinformation">
                    <div id="usernameMascot">
                        <p> User Name: @child.UserName</p>
                        <p>image of Mascot goes here it is Thats why there is bigger space!</p>
                    </div>
                    <div id="FirstNameMinSteps">
                        <h3>@child.First_Name</h3>
                        <p>Carrots - @child.Active_Minutes</p>
                        <p>Time Remaining - @child.Steps</p>

                    </div>
                    <button id="activitybutton"> Enter Child Activity Here </button>
                </div>
            }
        }
    </div>
</body>