@model Capstone.Web.Models.ParentModel
@using Capstone.Web.Models

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Welcome to your Dashboard @Model.First_Name! </h2>


<div class="container-div">

    @if (Model.Children == null)
    {
        <p>You have not added any children yet!</p>
    }
    else
    {
        foreach (ChildModel child in Model.Children)
        {
            <div class="childinformation">
                <div id="usernameMascot">
                    <h2>  @child.UserName</h2>
                    <div class="mascotDiv">
                        @if (child.Mascot == null)
                        {
                            <img src="~/Content/images/mascots/default.png" id="mascot" />
                        }
                        else
                        {
                            <img src="~/Content/images/mascots/@child.Mascot.Mascot_Image" id="mascot" />
                        }
                    </div>
                </div>
                <div id="dashboard_childInfo">
                    <h2>@child.First_Name</h2>
                    <p>Carrots - @(child.Carrots.ToString("N0"))</p>
                    <p>Time Remaining - @(child.Seconds.ToString("N0")) seconds</p>
                    <p>@(child.UserName)'s total steps: @child.TotalSteps.ToString("N0")</p>
                    <p>@(child.UserName)'s total active minutes: @child.TotalMinutes.ToString("N0")</p>

                </div>
                <div id="activitybutton">
                 @Html.ActionLink("Click here to input your child's activity", "AddActivity", new { userName = child.UserName })
                </div>
            </div>
        }
    }

</div>
