@using Capstone.Web.Models.ViewModels;
@model ParentLoginModel


@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Parent Login";
}
<h2>Parent Login</h2>


@using (Html.BeginForm("Login", "Parent", FormMethod.Post))
{

    <div>
        <label>E-mail Address</label>
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)

    </div>
    <div>
        <label>Password</label>
        @Html.PasswordFor( m => m.Password)
        @Html.ValidationMessageFor(m=> m.Password)
       
    </div>
    <div>
        @Html.ValidationMessage("invalid-credentials")

    </div>
    <button> Submit </button>
    }
