@using Capstone.Web.Models.ViewModels;
@model ParentRegistrationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="formcontainer">
    <div class="formdiv">
        <h2>Parent Registration</h2>



        @using (Html.BeginForm("Registration", "Parent", FormMethod.Post, new { id = "form" }))
        {
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.First_Name)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Last_Name)
            </div>
            <div class="form-group">
                <label>E-mail Address</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.ValidationMessage("email-exists")
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)

            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button> Submit </button>
        }
    </div>
</section>