@using Capstone.Web.Models.ViewModels;
@using Capstone.Web.Models;
@model LeaderboardViewModel
@{
    ViewBag.Title = "LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="leaderboardheading">
    <h2>Leader Board</h2>
    @if (Model.MinutesOption)
    {
        <p>(ranked by minutes)</p>
    }
    else
    {
        <p>(ranked by steps)</p>
    }
</div>


@using (Html.BeginForm("LeaderBoard", "Home", FormMethod.Post))
{
    <div id="leaderboardselectrank">
        <div class="buttondiv">
            <p>Rank by total Minutes</p>
            @Html.RadioButtonFor(m => m.MinutesOption, true)
        </div>
        <div id="seperatordiv"></div>
        <div class="buttondiv">
            <p>Rank by total Steps</p>
            @Html.RadioButtonFor(m => m.MinutesOption, false)
        </div>
        <button id="leaderboardbutton"> Submit </button>
    </div>
}
<br />
<br />
<table id="leaderboardtable">
    <tr>
        <td>
            Rank
        </td>
        <td>
            User Name
        </td>
        <td>
            Total Active Minutes
        </td>
        <td>
            Total Steps
        </td>
    </tr>

    @for (int i = 0; i < Model.ChildList.Count; i++)
    {
        <tr>
            <td>@(i + 1) </td>
            <td>@((Model.ChildList[i].UserName).ToString()) </td>
            <td>@((Model.ChildList[i].Carrots).ToString("N0")) </td>
            <td>@((Model.ChildList[i].Seconds * 10).ToString("N0")) </td>
        </tr>
    }

</table>

<br />
<br />