@using Capstone.Web.Models.ViewModels;
@using Capstone.Web.Models;
@model LeaderboardViewModel
@{
    ViewBag.Title = "LeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leader Board</h2>
@using (Html.BeginForm("LeaderBoard", "Home", FormMethod.Post))
{
    @Html.RadioButtonFor(m => m.MinutesOption, true) <p>Rank by total Minutes</p>
    @Html.RadioButtonFor(m => m.MinutesOption, false) <p>Rank by total Steps</p>
    
    <button> Submit </button>

}

@foreach (ChildModel child in @Model.ChildList)
{

    <div class="leaderdiv">
        <h3>@child.UserName</h3>
        <h2>@(child.Carrots) Total Active Minutes</h2>
        <h2>@(child.Seconds * 10) Total Steps</h2>
    </div>

}
