@model Capstone.Web.Models.ChildModel

<head>
    <script src="~/Scripts/time_tracking.js"></script>
    <script type="text/javascript">
        var redirectURL = '@Url.Action("OutOfTime", "Child")'
        var getTimeURL = '@Url.Action("GetTime", "API")'
        var updateTimeURL = '@Url.Action("UpdateTime", "API")'
        var addCarrotURL = '@Url.Action("AddCarrot", "API")'
    </script>
</head>

<div style="display: none"><p id="child_username">@Model.UserName</p></div>

<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Dashboard", "Dashboard", "Child")</li>
    <li>@Html.ActionLink("Closet", "Closet", "Child")</li>
    <li>@Html.ActionLink("Store", "Store", "Child")</li>
    <li>@Html.ActionLink("Play Game", "Game", "Child")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li id="navbarusername">Hello, @(Model.First_Name)! </li>  
    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
</ul>