@using Capstone.Web.Models.ViewModels
@model ChildRegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="formcontainer">
    
    <div class="formdiv">
        <h2>Add a child</h2>


        @using (Html.BeginForm("Registration", "Child", FormMethod.Post, new { id = "form" }))
        {
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.First_Name)
            </div>
            <div class="form-group">
                <label>User Name</label>
                @Html.TextBoxFor(m => m.User_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.User_Name)
            </div>
            <div class="form-group">
                @Html.ValidationMessage("user name-exists")
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)

            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>


            <button> Register </button>
        }
    </div>
</section>