@using Capstone.Web.Models.ViewModels;
@using Capstone.Web.Models;
@model StoreViewModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store</h2>


@Html.ValidationMessage("insufficient-carrots")

@using (Html.BeginForm("Store", "Child", FormMethod.Post))
{
    <div id="storehatdiv">
        @foreach (ItemModel hat in @Model.Hats)
        {
            <div class="storeitemdiv">
                <img class="storehatimg" src="~/Content/images/Resized/@(hat.Image).png" />
                <p class="storeprice">@(hat.Price) carrots</p>
                @Html.RadioButtonFor(m => m.ItemId, hat.Item_Id)
            </div>
        }
    </div>
    <div>
        @foreach (ItemModel background in @Model.Backgrounds)
        {
            <div class="storeitemdiv">
                <img class="storehatimg" src="~/Content/images/Resized_Backgrounds/@(background.Image).png"/>
                <p class="storeprice">@(background.Price) carrots</p>
                @Html.RadioButtonFor(m => m.ItemId, background.Item_Id)
            </div>

        }
    </div>
        <button> Purchase </button>


}